.item {
  display: flex;
  background-color: #fff;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #ccc;
  flex-direction: column;
}

.header {
  justify-content: space-between;
}

.headerTitle {

}

.headerDate {

}

.unreadMessage {
  color: #0074e4;
}